<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siwan.examApp.dao.UserDAO">

    <select id="selectUserList" resultType="UserVO">
        SELECT /*[com.siwan.examApp.dao.UserDAO.selectUserList] 사용자 목록 조회 */
             *
          FROM NB_USER
    </select>

</mapper>